<!DOCTYPE html>
<html>
  <head>
    <title>Twitter iFrame Embed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
  <!--
  Made by Jason Le
  le.kent.jason@gmail.com
  https://jasonle.me
  -->
  <!--
  twitterFetcher by Jason Mayes
  MaterializeCSS by https://materializecss.com
  -->
</html>
